@charset 'UTF-8';
@use 'mixins';
@use 'sprite/sprite';

// popup
.popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	&__dimmed {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #444;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 100%;
	}
	&__body {
		position: relative;
		width: 440px;
		padding: 40px 40px;
		border-radius: 30px;
		background-color: #fff;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 26px;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&--large {
			font-size: 40px;
			line-height: 34px;

			.highlight {
				display: block;
				margin-bottom: 10px;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
	&__desc {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		&:not(:first-child) {
			margin-top: 20px;
		}
		&--semibold {
			font-weight: 600;
		}
		& + .popup__desc {
			margin-top: 10px;
		}

		.highlight {
			font-weight: 700;
		}

		.bold {
			font-weight: 700;
		}

		sup {
			top: -0.3em;
			font-size: 60%;
			line-height: inherit;
			vertical-align: text-top;
		}
	}
	&__buttons {
		display: flex;
		margin-top: 25px;

		.popup__button {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			height: 50px;
			border: 0;
			border-radius: 10px;
			background-color: #A50034;
			color: #fff;
			font-weight: 700;
			font-size: 18px;
			cursor: pointer;
			outline: none !important;
		}
	}
	&__close {
		position: absolute;
		right: 14px;
		top: 14px;
		border: 0;
		background-color: transparent;
		outline: none !important;
		cursor: pointer;
		@include sprite.retina-sprite(sprite.$btn-popup-close-group);
	}
	&__stars {
		text-align: center;

		img {
			max-width: 180px;
		}
	}
	&__gift {
		position: relative;
		max-width: 260px;
		margin: 0 auto;
		text-align: center;

		img {
			width: 100%;
		}

		.popup__label {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 16px;
			top: 10px;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #E5BD75;
			color: #000;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			text-align: center;

			p {

				span {
					font-weight: 700;
					font-size: 20px;
				}
			}
		}
	}

	.stars {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 12px;
		align-items: center;
		justify-content: center;
		height: 96px;
		padding: 0 26px;
		border-radius: 10px;
		background-color: #F5F5F5;

		.star {
			background: {
				image: url('../images/bg_star_off_solid.svg');
				repeat: no-repeat;
				position: 0 0;
				size: 100% 100%;
			};
			&:before {
				content: "";
				padding-bottom: 100%;
				display: block;
			}
			&--actived {
				background-image: url('../images/bg_star_on.svg');
			}
		}
	}

	.ico {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		&__stars {
			@include sprite.retina-sprite(sprite.$ico-popup-stars-group);
		}
		&__fail {
			@include sprite.retina-sprite(sprite.$ico-fail-group);
		}
	}

	.coupon {
		margin-top: 30px;
		&__coupon {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 190px;
			height: 104px;
			margin: 0 auto;
			background-image: url('../images/bg_coupon01.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
			color: #53459A;
			&--secondary {
				background-image: url('../images/bg_coupon02.png');
				color: #6D2049;
			}
			
			.coupon__title {
				font-weight: 700;
				font-size: 63px;
				line-height: 86px;
			}
			.coupon__unit {
				margin-left: 10px;
				font-weight: 600;
				font-size: 28px;
				line-height: 22px;
				text-align: left;

				.coupon__text {
					display: block;
					font-size: 18px;
				}
			}
		}
	}

	.highlight {
		color: #A50034;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}

	p {
		margin: 0;
	}

	@media (max-width: 1024px) {
		&__body {
			width: calc(100% - 40px);
			padding: 40px 30px;
		}
		&__title {
			font-size: 22px;
			line-height: 24px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			&--large {
				font-size: 30px;
			}
		}
		&__desc {
			font-size: 18px;
			line-height: 22px;
			&:not(:first-child) {
				margin-top: 15px;
			}
		}

		.stars {
			grid-gap: 10px;
			height: 80px;
			padding: 0 22px;
		}
	}
}

.lgmembersweek {
	color: #000;
	overflow: hidden;
	
	figure {
		margin: 0;
	}

	p {
		margin: 0;
	}

	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}

	em {
		font-style: normal;
	}

	// section
	.section {
		&__container {
			position: relative;
			padding: 5.21vw 0 6.25vw;
			&--benefit {
				background: {
					image: url('../images/bg_benefit.png');
					repeat: no-repeat;
					position: 0 0;
					size: 100% 100%;
				};

				.section__header {
					color: #fff;
				}
				.section__footer {
					margin-top: 20px;
				}

				.lottie {
					right: 9.38vw;
					top: 9.69vw;
				}
			}
			&--event {
				background: {
					image: url('../images/bg_event.png');
					repeat: no-repeat;
					position: 0 0;
					size: 100% 100%;
				};
				color: #fff;

				.section__footer {

					.section__text {

						i {
							@include mixins.iconAngle($direction: 'right', $width: 10px, $height: 22px, $thick: 3px, $color: #fff, $display: block, $position: relative);
						}
					}
				}

				.lottie {
					left: 4.17vw;
					top: 5.21vw;
				}
			}
			&--lifestyle {
				padding: 0;

				.tab {
					position: relative;
					&__list {
						display: flex;
						justify-content: space-between;
						position: absolute;
						left: 50%;
						top: calc(5.21vw + 208px);
						z-index: 5;
						width: 998px;
						margin-left: -499px;
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 12px;
							width: 100%;
							height: 6px;
							border-radius: 20px;
							background-color: #fff;
						}
					}
					&__item {
						flex: none;
						&--home {

							.tab__button {
								.tab__ico {
									background-image: url('../images/ico_lifestyle_home.svg');
								}
							}
						}
						&--gathering {

							.tab__button {
								
								.tab__ico {
									background-image: url('../images/ico_lifestyle_gathering.svg');
								}
							}
						}
						&--gameday {

							.tab__button {
								
								.tab__ico {
									background-image: url('../images/ico_lifestyle_gameday.svg');
								}
							}
						}
						&--pastime {

							.tab__button {
							
								.tab__ico {
									background-image: url('../images/ico_lifestyle_pastime.svg');
								}
							}
						}
						&--memories {

							.tab__button {
							
								.tab__ico {
									background-image: url('../images/ico_lifestyle_memories.svg');
								}
							}
						}
					}
					&__item--active {
						& ~ .tab__item {

							.tab__button {

								.tab__ico {
									background-image: none;
								}
							}
						}
						&:not(:first-child) {
							&:before {
								position: absolute;
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 12px;
								height: 6px;
								background-color: #000;
							}
						}
						&:nth-child(2) {
							&:before {
								width: 25%;
							}
						}
						&:nth-child(3) {
							&:before {
								width: 50%;
							}
						}
						&:nth-child(4) {
							&:before {
								width: 75%;
							}
						}
						&:nth-child(5) {
							&:before {
								width: 100%;
							}
						}
					}
					&__button {
						justify-content: flex-start;
						position: relative;
						z-index: 1;
						padding-bottom: 30px;
						font-weight: 600;
						font-size: 20px;

						.tab__ico {
							width: 30px;
							height: 30px;
							background: {
								repeat: no-repeat;
								position: 0 0;
								size: 100% 100%;
								color: #fff;
							};
							border-radius: 50%;
						}
						.tab__text {
							position: absolute;
							left: 50%;
							bottom: 0;
							font-weight: 600;
							font-size: 20px;
							line-height: 20px;
							white-space: nowrap;
							@include mixins.translate(-50%, 0);
						}
					}
					&__panel {
						margin-top: 0;
						&--home {
							background: transparent linear-gradient(180deg, #E0E8A2 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
							
							.section__title {
								
								em {
									color: #467200;
								}
							}
						}
						&--gathering {
							background: transparent linear-gradient(180deg, #FFE3AD 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
							
							.section__title {
								
								em {
									color: #B45A00;
								}
							}
						}
						&--gameday {
							background: transparent linear-gradient(180deg, #F0C4A8 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
							
							.section__title {
								
								em {
									color: #DD4400;
								}
							}
						}
						&--pastime {
							background: transparent linear-gradient(180deg, #B4CDE6 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
							
							.section__title {
								
								em {
									color: #00468B;
								}
							}
						}
						&--memories {
							background: transparent linear-gradient(180deg, #D1D1D6 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
							
							.section__title {
								
								em {
									color: #424255;
								}
							}
						}
					}
				}

				.section__inner {
					position: relative;
					padding: 5.21vw 0 6.25vw;
					background: {
						image: url('../images/bg_lifestyle_obj.png');
						repeat: no-repeat;
						position: 50% 0;
					};
					
					.shadow,
					.light {
						position: absolute;
					}
					.shadow {
						background: {
							image: url('../images/bg_shadow.svg');
							repeat: no-repeat;
							position: 0 0;
							size: 100% 100%;
						};
						mix-blend-mode: multiply;
						opacity: 0.75;
						box-shadow: none !important;
					}
					.shadow--left {
						left: 0;
						top: 137px;
						width: 257px;
						height: 254px;
					}
					.shadow--right {
						right: -50px;
						top: 11px;
						width: 381px;
						height: 376px;
					}
					.light {
						mix-blend-mode: screen;
					}
					.light--left {
						left: -30px;
						top: 144px;
						width: 190px;
						height: 190px;
						background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #FEFDFA 0%, #FEF1C7 2%, #FEE79F 3%, #FEE082 5%, #FEDC71 6%, #FEDB6B 7%, #F8D266EF 9%, #EBBD5AC4 12%, #D69C4780 16%, #D69C4780 16%, #A0743560 25%, #664A213D 37%, #39291222 50%, #1812080F 64%, #05040104 79%, #00000000 100%) 0% 0% no-repeat padding-box;
						
					}
					.light--right {
						top: 20px;
						right: 110px;
						width: 282px;
						height: 282px;
						background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #FEFDFA 0%, #FEF1C7 2%, #FEE79F 3%, #FEE082 5%, #FEDC71 6%, #FEDB6B 7%, #F8D266EF 9%, #EBBD5AC4 12%, #D69C4780 16%, #D69C4780 16%, #A0743560 25%, #664A213D 37%, #39291222 50%, #1812080F 64%, #05040104 79%, #00000000 100%) 0% 0% no-repeat padding-box;
					}
				}

				.product {
					margin-top: 140px;
				}

				.lottie {
					right: 16.67vw;
					top: 33.85vw;
				}
			}
			&--hotdeal {
				background-color: #08223E;
				color: #fff;

				.section__footer {
					margin: 60px 0 0;
				}

				.lottie {
					left: 9.38vw;
					top: 6.56vw;
				}
			}
			&--hottest {
				background-color: #F5F5F5;

				.lottie {
					right: 8.33vw;
					top: -7.08vw;
				}
			}
		}
		&__inner {
			max-width: 1600px;
			margin: 0 auto;
			@media (max-width: 1600px) {
				padding: 0 1.25vw;
			}
		}
		&__header {
			text-align: center;

			sup {
				top: -0.3em;
				font-size: 60%;
				line-height: inherit;
				vertical-align: text-top;
			}
		}
		&__title {
			font-weight: 700;
			font-size: 64px;
			line-height: 70px;
			&:not(:first-child) {
				margin-top: 20px;
			}

			& + .section__sub {
				margin-top: 10px;
			}
		}
		&__sub {
			margin-top: 20px;
			font-weight: 600;
			font-size: 30px;
			line-height: 34px;
			&:first-child {
				margin-top: 0;
			}

			.highlight {
				color: #A50034;
				font-weight: 700;
			}
		}
		&__desc {
			margin-top: 20px;
			font-size: 20px;
			line-height: 24px;
			& + .section__desc {
				margin-top: 16px;
			}
			&--small {
				margin-top: 10px;
				font-size: 16px;
				line-height: 22px;
			}
			&--semibold {
				font-weight: 600;
			}
		}
		&__footer {
			margin-top: 40px;
			margin-bottom: -3.13vw;
			text-align: right;
			&--center {
				text-align: center;
			}

			.section__text {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				font-size: 18px;

				i {
					margin-left: 10px;
					@include mixins.iconAngle($direction: 'right', $width: 10px, $height: 22px, $thick: 3px, $color: #000, $display: block, $position: relative);
				}
			}
		}

		@media (max-width: 1600px) {
			&__container {
				&--lifestyle {

					.section__inner {
						padding-left: 1.25vw;
						padding-right: 1.25vw;
					}
				}
			}
		}

		@media (max-width: 1024px) {
			&__container {
				padding: 12.82vw 0;
				&--benefit {
					background: {
						image: url('../images/m_bg_benefit.png');
						position: 50% 50%;
					}

					.lottie {
						top: 38.97vw;
						right: 0;
					}
				}
				&--event {
					background: {
						image: url('../images/m_bg_event.png');
						position: 50% 50%;
					}
					
					.lottie {
						left: 0;
						top: -100px;
					}
				}
				&--lifestyle {
					padding: 0;

					.tab {
						&__list {
							left: 5.13vw;
							right: 5.13vw;
							top: calc(12.82vw + 248px);
							width: auto;
							margin: 0;
							padding: 0 5.13vw;
							&:before {
								left: 5.23vw;
								right: 5.23vw;
								width: auto;
								top: 10px;
								height: 4px;
							}
						}
						&__item {
							padding: 0 !important;
						}
						&__item--active {
							&:not(:first-child) {
								&:before {
									left: 5.13vw;
									top: 10px;
									height: 4px;
								}
							}
							&:nth-child(3) {
								&:before {
									width: calc(50% - 5.13vw);
								}
							}
							&:nth-child(4) {
								&:before {
									width: calc(75% - 5.13vw - 12px);
								}
							}
							&:nth-child(5) {
								&:before {
									width: calc(100% - 10.26vw);
								}
							}
						}
						&__button {
							padding-bottom: 22px;

							.tab__ico {
								width: 24px;
								height: 24px;
							}
							.tab__text {
								font-size: 14px;
							}
						}
					}

					.section__inner {
						padding: 12.82vw 5.13vw;
						background-image: url('../images/m_bg_lifestyle_obj.png');
						background-size: 100% auto;

						.shadow,
						.light {
							position: absolute;
						}
						.shadow--left {
							left: 0;
							top: 78px;
							width: 141px;
							height: 139px;
						}
						.shadow--right {
							right: -42px;
							top: 11px;
							width: 209px;
							height: 206px;
						}
						.light--left {
							left: 28px;
							top: 79px;
							width: 105px;
							height: 105px;
							
						}
						.light--right {
							top: -5px;
							right: 42px;
							width: 155px;
							height: 155px;
						}
					}
					.section__sub {
						&:not(:first-child) {
							margin-top: 12px;
							font-size: 20px;
							letter-spacing: -1.5px;
						}
					}

					.product {
						margin-top: 106px;
					}
					
					.lottie {
						right: 0;
						top: 115.90vw;
					}
				}
				&--hotdeal {

					.section__sub {
						font-size: 20px;
						&:not(:first-child) {
							margin-top: 12px;
						}
					}

					.section__footer {
						margin-top: 50px;
					}
					
					.lottie {
						right: 0;
						top: 106.67vw;
					}
				}
				&--hottest {

					.section__sub {
						&:not(:first-child) {
							margin-top: 12px;
						}
					}
					
					.lottie {
						right: 0;
						top: -100px;
					}
				}
			}
			&__inner {
				padding: 0 5.13vw;
			}
			&__title {
				font-size: 40px;
				line-height: 40px;
				letter-spacing: -1.5px;
			}
			&__sub {
				font-size: 24px;
				line-height: 22px;
				&:not(:first-child) {
					margin-top: 10px;
				}
			}
			&__desc {
				margin-top: 16px;
				font-size: 16px;
				line-height: 22px;
				& + .section__desc {
					margin-top: 10px;
				}
				&--small {
					line-height: 20px;
					margin-top: 10px;
				}
			}
			&__footer {
				margin-top: 30px;
				font-size: 16px;
				margin-bottom: -5.13vw;

				.section__text {
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
	}

	// visual
	.visual {
		position: relative;
		color: #fff;
		&__terms {
			position: absolute;
			right: 0;
			bottom: 3.13vw;
			z-index: 10;

			.visual__link {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 18px;
			}
			.visual__arrow {
				margin-left: 10px;
				@include mixins.iconAngle($direction: 'right', $width: 10px, $height: 22px, $thick: 3px, $color: #fff, $display: block, $position: relative);
			}
		}
		
		.section {
			height: 50vw;
			background: {
				image: url('../images/bg_visual.png');
				repeat: no-repeat;
				position: 50% 50%;
				size: cover;
			};
			.section__inner {
				position: relative;
				height: 100%;
				padding-top: 4.17vw;
			}
			.section__title {
				font-size: 80px;
				line-height: 80px;
			}
			.section__sub {
				font-size: 46px;
				line-height: 60px;
				&:not(:first-of-type) {
					margin-top: 20px;
				}
			}
			.section__desc {
				margin-top: 0;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
				&:not(:first-of-type) {
					margin-top: 20px;
				}
			}
		}

		.button {
			margin-top: 20px;
			&__item {
				width: 280px;
				height: 60px;
				border-radius: 10px;
				font-weight: 700;
				font-size: 20px;
			}
		}

		@media (max-width: 1600px) {
			&__terms {
				right: 1.25vw;
			}
		}
		
		@media (max-width: 1024px)  {
			&__terms {
				display: flex;
				justify-content: center;
				position: static;
				margin-top: 20px;

				.visual__link {
					display: inline-flex;
					font-size: 16px;
				}
				.visual__arrow {
					margin-left: 6px;
					@include mixins.iconAngle($direction: 'right', $width: 10px, $height: 18px, $thick: 2px, $color: #fff, $display: block, $position: relative);
				}
			}

			.section {
				height: 166.67vw;
				background-image: url('../images/m_bg_visual.png');
				.section__inner {
					padding-top: 10.26vw;
				}
				.section__title {
					font-size: 40px;
					line-height: 40px;
					span {
						&:not([class^='break--']) {
							margin: 6px 0 2px;
							display: block;
							font-size: 36px;
							letter-spacing: -2px;
						}
					}
				}
				.section__sub {
					font-size: 26px;
					line-height: 34px;
					letter-spacing: -1.5px;
					&:not(:first-of-type) {
						margin-top: 16px;
					}
				}
				.section__desc {
					font-size: 16px;
					line-height: 22px;
					letter-spacing: -1px;
					&:first-of-type {
						margin-top: 4px;
					}
					&:not(:first-of-type) {
						margin-top: 16px;
					}
				}
			}

			.button {
				&__item {
					width: 240px;
					height: 50px;
					font-size: 18px;
				}
			}
		}
	}

	// benefit
	.benefit {
		text-align: center;
		&__msg {
			display: inline-flex;
			align-items: center;
			position: relative;
			height: 40px;
			padding: 0 40px;
			color: #fff;
			font-weight: 600;
			font-size: 22px;
			line-height: 24px;
			&:not(:first-child) {
				margin-top: 40px;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-radius: 100vw;
				background-color: #6A4400;
				opacity: 0.6;
			}

			.benefit__text {
				position: relative;
			}
		}
		&__more {
			margin-top: 40px;

			.benefit__text {
				font-weight: 600;
				font-size: 30px;
				line-height: 34px;
			}
			.benefit__button {
				display: inline-flex;
				justify-content: center;
				flex-wrap: wrap;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 420px;
					height: 100px;
					margin: 20px 10px 0;
					border-radius: 15px;
					background-color: #F7DE9B;
					font-weight: 700;
					font-size: 30px;
					&:nth-child(2) {

						i {
							@include sprite.retina-sprite(sprite.$ico-benefit02-group);
						}
					}

					i {
						margin-right: 6px;
						@include sprite.retina-sprite(sprite.$ico-benefit01-group);
					}

					em {
						text-align: left;
						line-height: 1;

						span {
							display: block;
							font-weight: 600;
							font-size: 18px;
						}
					}
				}
			}
		}

		.coupon {
			margin-top: 80px;
			&__list {
				display: flex;
				justify-content: center;
			}
			&__item {
				margin: 0 5px;
				width: 420px;
			}
			&__coupon {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				width: 330px;
				height: 180px;
				margin: 0 auto;
				background-image: url('../images/bg_coupon01.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 100% 100%;
				color: #53459A;
				filter: drop-shadow(0 3px 6px #00000066);
				&--secondary {
					background-image: url('../images/bg_coupon02.png');
					color: #6D2049;
				}
				
				.coupon__flag {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					left: -10px;
					top: -10px;
					padding: 0 14px 0 15px;
					height: 30px;
					border-radius: 10px 0 10px 0;
					background-color: #A50034;
					color: #fff;
					font-weight: 700;
					font-size: 16px;
					text-align: center;
					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						bottom: -9px;
						border-top: 9px solid #62001F;
						border-left: 9px solid rgba(0,0,0,0);
					}
				}
				.coupon__title {
					font-weight: 700;
					font-size: 110px;
					line-height: 150px;
					letter-spacing: -8.8px;
				}
				.coupon__unit {
					margin-left: 10px;
					font-weight: 600;
					font-size: 50px;
					line-height: 32px;
					text-align: left;
	
					.coupon__text {
						display: block;
						font-size: 32px;
					}
				}
			}
			&__info {
				margin-top: 20px;
				text-align: center;
	
				.coupon__title {
					font-weight: 600;
					font-size: 30px;
					line-height: 30px;
					&:not(:last-child) {
						margin-bottom: 10px;
					}
				}
				.coupon__text {
					font-weight: 600;
					font-size: 22px;
					line-height: 24px;
					&:not(:first-child) {
						margin-top: 4px;
					}
					&--narrow {
						letter-spacing: -0.44px;
					}
					&--secondary {
						font-size: 18px;
						line-height: 18px;
					}
				}
			}
		}

		@media (max-width: 1024px) {
			&__msg {
				height: auto;
				padding: 20px;
				font-size: 20px;
				line-height: 22px;
				&:not(:first-child) {
					margin-top: 30px;
				}
			}
			&__more {
				margin-top: 50px;

				.benefit__button {
					display: block;
					margin-top: 20px;

					a {
						width: 100%;
						height: 80px;
						margin: 0;
						font-size: 24px;
						&:not(:first-child) {
							margin-top: 10px;
						}

						em {
	
							span {
								font-size: 16px;
							}
						}
					}
				}
			}

			.coupon {
				margin-top: 30px;
				&__list {
					display: block;
				}
				&__item {
					width: auto;
					margin: 0;
					&:not(:first-child) {
						margin-top: 30px;
					}
				}
				&__coupon {
					width: 250px;
					height: 136px;

					.coupon__title {
						font-size: 84px;
						line-height: 114px;
						letter-spacing: -6.72px;
					}
					.coupon__unit {
						margin-left: 8px;
						font-size: 38px;
						line-height: 25px;
		
						.coupon__text {
							font-size: 25px;
						}
					}
				}
				&__info {

					.coupon__text {
						font-size: 20px;
						line-height: 22px;
						&:not(:first-child) {
							margin-top: 4px;
							font-size: 18px;
							line-height: 20px;
						}
					}
				}
			}
		}
	}

	// event
	.event {
		&:not(:first-child) {
			margin-top: 60px;
		}
		&__container {
			display: flex;
			justify-content: center;

			.event__round {
				flex: 1;
				max-width: 680px;
				padding: 40px;
				border: 1px solid #C09D5F;
				border-radius: 20px;
				&:not(:first-child) {
					margin-left: 40px;
				}

				.event__category {
					margin-bottom: 20px;
					color: #D09800;
					font-weight: 600;
					font-size: 22px;
					line-height: 24px;
					&:not(:first-child) {
						margin-top: 80px;
					}
				}
				.event__title {
					margin-bottom: 10px;
					font-weight: 700;
					font-size: 30px;
					line-height: 34px;
					&:first-child {
						margin-bottom: 16px;
					}
				}
				.event__sub {
					font-weight: 600;
					font-size: 34px;
					line-height: 34px;
					&:not(:first-child) {
						margin-top: 20px;
					}
					&:not(:last-child) {
						margin-bottom: 10px;	
					}
				}
				.event__desc {
					font-size: 22px;
					line-height: 24px;
					&--secondary {
						color: #D09800;
					}
				}
				.event__process {
					position: relative;
					margin-top: 60px;
					&:before {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 274px;
						height: 274px;
						background: {
							image: url('../images/bg_stars.png');
							repeat: no-repeat;
							position: 0 0;
							size: 100% 100%;
						};
					}

					ol {
						position: relative;
					}

					li {
						display: flex;
						align-items: center;
						&:not(:first-child) {
							margin-top: 40px;
						}

						> span {
							display: flex;
							align-items: center;
							justify-content: center;
							flex: none;
							width: 36px;
							height: 36px;
							margin-right: 16px;
							border-radius: 50%;
							background-color: #fff;
							color: #000;
							font-weight: 700;
							font-size: 24px;
							text-align: center;
						}
						
						p {
							font-weight: 600;
							font-size: 22px;
							line-height: 24px;
						}
					}
				}
				.event__stars {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					grid-gap: 20px;

					.event__star {
						background: {
							image: url('../images/bg_star_off.svg');
							repeat: no-repeat;
							position: 0 0;
							size: 100% 100%;
						};
						&:before {
							content: "";
							padding-bottom: 100%;
							display: block;
						}
						&--actived {
							background-image: url('../images/bg_star_on.svg');
						}
					}
				}
				.event__gift {
					margin-top: 44px;

					img {
						width: 100%;
					}
				}
				.event__info {
					margin-top: 50px;

					.event__text {
						font-size: 18px;
						line-height: 20px;
						text-align: center;

						sup {
							top: -0.3em;
							font-size: 60%;
							line-height: inherit;
							vertical-align: text-top;
						}
					}
				}
			}
		}
		&__bottom {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 60px;

			.event__left {
				text-align: right;

				p {
					font-size: 18px;
					&:first-child {
						font-weight: 600;
						font-size: 22px;
						line-height: 24px;
					}
				}
			}
			.event__right {
				margin-left: 20px;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 280px;
					height: 60px;
					border-radius: 10px;
					background-color: #A50034;
					color: #fff;
					font-weight: 700;
					font-size: 20px;
				}
			}
		}

		@media (max-width: 1024px) {
			&:not(:first-child) {
				margin-top: 30px;
			}
			&__container {
				display: block;

				.event__round {
					padding: 30px 20px;
					border-radius: 15px;
					&:not(:first-child) {
						margin: 20px 0 0 0;
					}

					.event__category {
						font-size: 20px;
						line-height: 22px;
						&:not(:first-child) {
							margin-top: 50px;
						}
					}
					.event__title {
						font-size: 24px;
						line-height: 26px;
					}
					.event__sub {
						font-size: 20px;
						line-height: 22px;
						&:not(:last-child) {
							margin-bottom: 6px;
						}
					}
					.event__desc {
						font-size: 16px;
						line-height: 18px;
					}
					.event__process {
						margin-top: 30px;
						&:before {
							top: 50%;
							width: 114px;
							height: 224px;
							margin-top: -112px;
							background-image: url('../images/m_bg_stars.png');
						}

						li {
							&:not(:first-child) {
								margin-top: 30px;
							}

							> span {
								width: 20px;
								height: 20px;
								margin-right: 12px;
								font-size: 14px;
							}

							p {
								font-size: 20px;
								line-height: 22px;
							}
						}
					}
					.event__stars {
						grid-gap: 12px;
					}
					.event__gift {
						margin-top: -21px;
					}
					.event__info {
						margin-top: 20px;

						.event__text {
							font-size: 16px;
							line-height: 18px;
						}
					}
				}
			}
			&__bottom {
				display: block;
				margin-top: 50px;

				.event__left {
					text-align: center;

					p {
						font-size: 20px;
						line-height: 22px;
						&:first-child {
							font-size: 20px;
							line-height: 22px;
						}
						&:not(:first-child) {
							margin-top: 6px;
						}
					}
				}
				.event__right {
					margin: 20px 0 0 0;
					
					a {
						width: 240px;
						height: 50px;
						margin: 0 auto;
						font-size: 18px;
					}
				}
			}
		}
	}

	// product
	.product {

		.button {
			&__item {
				flex: 1;
			}
		}

		> .button {
			&:not(:first-child) {
				margin-top: 80px;
			}
			.button__item {
				max-width: 280px;
				height: 60px;
				padding: 0;
				border-radius: 30px;
				font-weight: 700;
				font-size: 20px;
				&:not(:first-child) {
					margin-left: 20px;
				}
			}
		}

		&--hotdeal {
			&:not(:first-child) {
				margin-top: 20px;
			}

			.product__list {
				flex-wrap: nowrap;
				justify-content: center;
				margin: 0;
				.slick-list {
					max-width: 1280px;
					margin: 0 auto;
				}
				.slick-track {
					display: flex;
					margin: 0 auto;
					align-items: center;
				}
			}
			.product__item {
				min-width: 400px;
				margin: 0 20px;
				padding: 0;
				border-radius: 0;
				background-color: transparent;
			}
			.product__flags {
				left: 0;
				top: 30px;
			}
			.product__img {
				img {
					width: 100%;
				}

				.product__label {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					right: 40px;
					top: 40px;
					width: 90px;
					height: 90px;
					border-radius: 50%;
					background-color: #E5BD75;
					color: #000;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					text-align: center;

					p {
						display: flex;
						flex-direction: column;

						span {
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}
			.product__info {
				position: relative;
				max-width: 260px;
				margin: -30px auto 0;

				.product__highlight {
					color: #FFC400;
				}
				.product__discount {
					color: inherit;
					opacity: 0.5;
				}
			}
			.product__sn {
				color: inherit;
			}

			.slick-arrow {
				margin-top: -16px;
			}
			.slick-prev {
				left: 0;
				@include sprite.retina-sprite(sprite.$btn-hotdeal-prev-group);
			}
			.slick-next {
				right: 0;
				@include sprite.retina-sprite(sprite.$btn-hotdeal-next-group);
			}

			.learn-more__text {
				&:before {
					background-color: #fff;
				}
			}
		}
		&__showroom {
			max-width: 1080px;
			margin: 0 auto;

			.product__slide {
				position: relative;
				height: 0;
				padding-top: 50%;
				border-radius: 20px;
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}

			.slick-arrow {
				margin-top: -26px;
			}
			.slick-prev {
				left: 20px;
				@include sprite.retina-sprite(sprite.$btn-product-showroom-left-group);
			}
			.slick-next {
				right: 20px;
				@include sprite.retina-sprite(sprite.$btn-product-showroom-right-group);
			}
		}
		&__layer {
			position: absolute;
			z-index: 5;
		}
		&__anchor {
			display: block;
			width: 32px;
			height: 32px;
			border: 2px solid #fff;
			border-radius: 50%;
			background-color: rgba(0,0,0,.3);
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				width: 12px;
				height: 12px;
				margin: -6px 0 0 -6px;
				border-radius: 50%;
				background-color: #fff;
			}
		}
		&__target {
			display: none;
			position: absolute;
			left: 50%;
			width: 340px;
			margin-left: -170px;
			&--opened {
				display: block;
			}
			.product__link {
				display: flex;
				align-items: center;
				min-height: 130px;
				padding: 10px;
				border-radius: 10px;
				background-color: #fff;
				box-shadow: 2px 4px 20px rgba(0,0,0,.16);
				&:hover {
					text-decoration: none;
				}
			}
			.product__img {
				margin-right: 10px;
				padding: 0;
				width: 100%;
				max-width: 100px;
				img {
					max-width: 100px;
				}
			}
			.product__name {
				display: block;
				height: auto;
				font-size: 16px;
				line-height: 20px;
			}
			.product__desc {
				margin-top: 6px;
				font-size: 14px;
				line-height: 16px;
				li {
					position: relative;
					padding-left: 4px;
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 7px;
						width: 2px;
						height: 2px;
						border-radius: 50%;
						background-color: #000;
					}
					&:not(:first-child) {
						margin-top: 4px;
					}
				}
			}
		}
		&__track {
			&:not(:first-child) {
				margin-top: 40px;
			}
		}
		&__swiper {

			.product__slide {
				margin: 0 24px;
			}
			.product__item {
				width: auto;
				margin: 0;
				padding: 0;
				border-radius: 0;
				background-color: transparent;
			}
			.product__img {
				padding: 40px;
				border-radius: 20px;
				background-color: #fff;
			}

			.slick-list {
				margin: 0 70px;	
			}
			.slick-prev {
				left: 0;
				@include sprite.retina-sprite(sprite.$btn-product-left-group);
			}
			.slick-next {
				right: 0;
				@include sprite.retina-sprite(sprite.$btn-product-right-group);
			}
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: -2.08% 0 0 -2.08%;
		}
		&__item {
			flex: none;
			width: calc(100% / 4 - 2.08%);
			position: relative;
			padding: 20px 30px 30px;
			border-radius: 20px;
			background-color: #fff;
			margin: 2.08% 0 0 2.08%;

			.button {
				&:not(:first-child) {
					margin-top: 20px;
				}
				&__item {
					padding: 0 5px;
				}
			}

			.learn-more {
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
		}
		&__img {
			img {
				max-width: 100%;
			}
		}
		&__flags {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: absolute;
			top: 10px;
			left: -7px;
		}
		&__flag {
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 18px;
			padding: 0 9px;
			border-radius: 2px 2px 2px 0;
			background-color: #333;
			color: #fff;
			font-weight: 700;
			font-size: 13px;
			line-height: 15px;
			text-align: center;
			box-shadow: 2px 2px 2px 0 #0000001A;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -8px;
				border-top: 8px solid #000;
				border-left: 8px solid transparent;
			}
			&:not(:first-child) {
				margin-top: 3px;
			}
		}
		&__info {
			margin-top: 20px;
			text-align: center;

			.product__highlight {
				color: #A50034;
				font-size: 16px;
				line-height: 22px;
			}
		}
		&__name {
			display: block;
			height: 40px;
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			@include mixins.ellipse(2);
		}
		&__sn {
			margin-top: 8px;
			color: #666;
			font-size: 16px;
			line-height: 22px;
		}
		&__price {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 16px;
			min-height: 22px;
		}
		&__price-now {
			justify-content: center;
			align-items: center;
		}
		&__cost {
			order: 1;
			font-weight: 700;
			font-size: 34px;
			line-height: 41px;
		}
		&__discount {
			margin-right: 4px;
			color: #999;
			font-size: 16px;
			line-height: 22px;
			text-decoration: line-through;
		}
		&__members {
			height: 54px;
			.product__text {
				font-size: 16px;
				line-height: 18px;
			}
			.product__noti {
				.product__text {
					font-size: inherit;
				}
			}
		}
		&__noti {
			margin-top: 4px;
			font-size: 16px;
			line-height: 20px;
			.product__text {
				display: inline-block;
				position: relative;
				padding-left: 22px;
				color: #A50034;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					width: 16px;
					height: 16px;
					margin-top: -8px;
					background-image: url('../images/ico_info.png');
					background-repeat: no-repeat;
					background-position: 0 0;
					background-size: 100% 100%;
				}
			}
		}
		@media (max-width: 1024px) {

			> .button {
				display: block;
				&:not(:first-child) {
					margin-top: 50px;
				}
				.button__item {
					height: auto;
					max-width: none;
					min-height: 50px;
					padding: 10px 15px;
					font-size: 18px;
					margin-bottom: 10px;
					margin-left: 0;
					&:not(:first-child) {
						margin-left: 0;
					}
				}
			}

			&--hotdeal {
				&:not(:first-child) {
					margin-top: 10px;
				}

				.product__list {
					justify-content: center;

					.slick-track {
						display: block;
					}
				}
				.product__item {
					min-width: 0;
					margin: 0;
				}
				.product__img {

					.product__label {
						right: 20px;
						top: 20px;
					}
				}
				.product__info {
					max-width: 250px;
				}
				.product__cost {
					order: 1;
					width: auto;
					margin-left: 10px;
					margin-bottom: 0;
				}
				.product__members {
					display: block;
					height: 54px;
				}

				.slick-prev {
					@include sprite.retina-sprite(sprite.$m-btn-hotdeal-prev-group);
				}
				.slick-next {
					@include sprite.retina-sprite(sprite.$m-btn-hotdeal-next-group);
				}
			}
			&__showroom {
				.product__slide {
					height: 44.87vw;
					padding-top: 0;
					border-radius: 15px;
				}
			}
			&__anchor {
				display: none;
				// width: 24px;
				// height: 24px;
				// border-width: 1.5px;
				// &:before {
				// 	width: 8px;
				// 	height: 8px;
				// 	margin: -4px 0 0 -4px;
				// }
			}
			&__target {
				left: auto;
				width: 264px;
				margin-left: 0;
				.product__link {
					min-height: 80px;
				}
				.product__img {
					margin-right: 10px;
					img {
						max-width: 60px;
					}
				}
				.product__name {
					font-size: 14px;
					line-height: 18px;
				}
			}
			&__track {
				margin-left: -5.13vw;
				margin-right: -5.13vw;
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
			&__swiper {
				.slick-list {
					margin: 0;
					padding: 0 2.565vw;
				}
				.product__slide {
					margin: 0 2.565vw;
				}
				.product__item {

					.button {
						&:not(:first-child) {
							margin-top: 10px;
						}
					}
				}
				.product__img {
					padding: 20px;
					border-radius: 15px;
				}
			}
			&__list {
				margin: -2.56vw 0 0 -2.56vw;
			}
			&__item {
				width: calc(50% - 2.56vw);
				margin: 2.56vw 0 0 2.56vw;
				padding: 15px 15px 25px;
				
				.learn-more {
					&:not(:first-child) {
						margin-top: 14px;
					}
				}
				.learn-more__arrow {
					display: none;
				}
			}
			&__flags {
				left: -5px;
				top: 4px;
			}
			&__flag {
				height: 16px;
				font-size: 10px;
				line-height: 13px;
				&:before {
					bottom: -7px;
					border-left-width: 5px;
					border-top-width: 7px;
				}
			}
			&__info {
				margin-top: 10px;
				.product__highlight {
					font-size: 14px;
				}
			}
			&__name {
				height: 52px;
				font-size: 16px;
				line-height: 18px;
				@include mixins.ellipse(3);
			}
			&__sn {
				margin-top: 4px;
				font-size: 14px;
				line-height: 16px;
			}
			&__cost {
				order: 0;
				width: 100%;
				margin-bottom: 2px;
				font-size: 26px;
				line-height: 29px;
				letter-spacing: -0.78px;
			}
			&__discount {
				margin-right: 0;
				font-size: 14px;
			}
			&__members {
				display: inline-flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: flex-start;
				height: 60px;
				.product__text {
					font-size: 14px;
				}
			}
		}
	}

	// lottie
	.lottie {
		position: absolute;
		width: 360px;
		height: 360px;
		cursor: pointer;

		@media (max-width: 1024px) {
			width: 200px;
			height: 200px;
		}
	}
	
	// tab
	.tab {
		&:not(:first-child) {
			margin-top: 60px;
		}
		&__list {
			display: flex;
			&--round {
				justify-content: center;
				.tab__item {
					max-width: 260px;
					
					&:not(:first-child) {
						padding-left: 20px;
					}
				}
				.tab__item--active {
					.tab__button {
						background-color: #000;
						color: #fff;
					}
				}
				.tab__button {
					align-items: center;
					height: 60px;
					border-radius: 20px;
					background-color: #fff;
					font-size: 24px;
				}
			}
		}
		&__item {
			flex: 1;
			&--active {
				.tab__button {
					color: #000;
				}
			}
		}
		&__button {
			display: flex;
			justify-content: center;
			position: relative;
			height: 100%;
			font-weight: 600;
			font-size: 30px;
			line-height: 30px;
			text-align: center;
			&:hover {
				text-decoration: none;
			}
		}
		&__panel {
			display: none;
			margin-top: 60px;
		}
		@media (max-width: 1024px) {
			&:not(:first-child) {
				margin-top: 30px;
			}
			&__list {
				overflow-x: auto;
				overflow-y: hidden;
				margin: 0 -5.13vw;
				&--round {
					justify-content: flex-start;
					.tab__item {
						
						&:not(:first-child) {
							padding-left: 10px;
						}
					}
					.tab__button {
						height: 50px;
						padding: 0 20px;
						border-radius: 10px;
						font-size: 18px;
					}
				}
			}
			&__item {
				flex: none;
				&:not(:first-child) {
					padding-left: 24px;
				}
				&:first-child {
					padding-left: 5.13vw;
				}
				&:last-child {
					padding-right: 5.13vw;
				}
				&--active {
					.tab__button {
						&:before {
							height: 3px;
							border-radius: 5px;
						}
					}
				}
			}
			&__button {
				font-size: 20px;
				line-height: 1;
			}
			&__panel {
				margin-top: 20px;
			}
		}
	}

	// learn more
	.learn-more {
		display: flex;
		justify-content: center;
		&--right {
			justify-content: flex-end;
		}
		&__link {
			display: inline-flex;
			align-items: center;
			&:hover {
				text-decoration: none;
			}
		}
		&__text {
			position: relative;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 2px;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
		}
		&__arrow {
			margin-left: 3px;
			@include mixins.iconAngle($direction: 'right', $width: 8px, $height: 16px, $thick: 1.5px, $color: #000, $display: block, $position: relative);
		}
		@media (max-width: 1024px) {
			&--right {
				justify-content: center;
			}
			&__text {
				font-size: 14px;
			}
			&__arrow {
				display: none;
			}
		}
	}

	// button
	.button {
		display: flex;
		justify-content: center;
		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			padding: 0 32px;
			border: 1px solid #000;
			border-radius: 10px;
			background-color: #000;
			color: #fff;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			text-transform: uppercase;
			&--red {
				border-color: #A50034;
				background-color: #A50034;
			}
			&--white {
				border-color: #fff;
				background-color: #fff;
				color: #000;
				box-shadow: 4px 10px 20px rgba(0,0,0,.1);
			}
			&--disabled {
				border: 1px solid #fff;
				background-color: transparent;
				opacity: 0.5;
				cursor: default;
			}
		}

		@media (max-width: 1024px) {
			&__item {
				height: 36px;
				padding: 0;
				font-size: 14px;
			}
		}
	}

	// break
	.break {
		&--desktop {
			display: block;
		}
		@media (max-width: 1024px) {
			&--desktop {
				display: inline;
			}
			&--mobile {
				display: block;
			}
		}
	}

	// sticky
	.box_navigation {
		position: relative;
		top: -1px;
		height: 60px;
		background-color: #fff;
	}
	.box_navigation .box_nav-position {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 60px;
		background-color: #fff;
		border-bottom: 1px solid #cdcdcd;
		z-index: 30000;
		@media (max-width: 1024px) {
			height: 50px;
		}
	}
	.box_navigation .box_nav-position.fixed {
		position: fixed;
		// margin-top: 1px;
		border-width: 1px 0px;
		z-index: 24999;
	}
	.box_navigation .box_navigation-inner {
		position: relative;
		max-width: 1600px;
		margin: 0 auto;
		z-index: 100;
		@media (max-width: 1024px) {
			overflow-x: auto;
		}
	}
	.box_navigation .list_navigation {
		display: flex;
		width: 100%;
		justify-content: center;
		@media (max-width: 1024px) {
			justify-content: flex-start;
		}
	}
	.box_navigation .list_navigation .list-item {
		flex: 0 1 480px;
		@media (max-width: 1024px) {
			flex: none;
		}
	}
	.box_navigation .list_navigation .link {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 60px;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		white-space: nowrap;
		color: #999;
		line-height: 34px;
		@media (max-width: 1024px) {
			height: 50px;
			padding: 0 18px;
			font-size: 14px;
			line-height: 28px;
		}
	}
	.box_navigation .list_navigation .link:hover {
		text-decoration: none;
		color: #000
	}
	.box_navigation .list_navigation .list-item.active .link {
		color: #000;
	}
	.box_navigation .list_navigation .list-item.active .link::after,
	.box_navigation .list_navigation .link:hover::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 3px;
		background-color: #A50034
	}
	.arrow_btn {display: none;}
	@media (max-width: 1024px) {
		.box_navigation .arrow_btn {
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background-color: #ffffff;
			border: 0;
			z-index: 10;
			.arrow_ico {
				@include mixins.iconAngle($direction: 'down', $width: 19px, $height: 10px, $thick: 1px, $color: #222, $display: inline-block, $position: relative); 
				justify-content: center;
			}
			&.show {
				.arrow_ico {
					@include mixins.iconAngle($direction: 'up', $width: 19px, $height: 10px, $thick: 1px, $color: #222, $display: inline-block, $position: relative); 
					justify-content: center;
				}
			}
		}
	}

	// slick
	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		// margin-left: auto;
		// margin-right: auto;
	}
	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}
	.slick-slide img {
		display: block;
	}
	.slick-slide.slick-loading img {
		display: none;
	}
	.slick-slide.dragging img {
		pointer-events: none;
	}
	.slick-initialized .slick-slide {
		display: block;
	}
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
	.slick-arrow {
		position: absolute;
		z-index: 10;
		top: 50%;
		margin-top: -26px;
		border: 0;
		// background-repeat: no-repeat;
		// background-position: 0 0;
		// background-size: 100% 100%;
		background-color: transparent;
		cursor: pointer;
	}
	.slick-disabled {
		opacity: 0.4;
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 3.66%;
		z-index: 10;
		width: 100%;
		li {
			width: 12px;
			height: 12px;
			margin: 0 5px;
			@include mixins.transition(.2s, ease);
			&.slick-active {
				width: 25px;
				button {
					background-color: #fff;
				}
			}
			button {
				display: block;
				width: 100%;
				height: 100%;
				padding: 0;
				border: 1.5px solid #fff;
				border-radius: 6px;
				background-color: rgba(0,0,0,.3);
				outline: none;
				font-size: 0;
				line-height: 0;
				cursor: pointer;
			}
		}
		@media (max-width: 1024px) {
			li {
				width: 8px;
				height: 8px;
			}
		}
	}

	.box_navigation {
		.select_list-item {
			display: none;
			@media (max-width: 1024px) {
				display: block;
				height: 50px;
				padding: 0 18px;
				span {
					display: inline-block;
					height: 50px;
					font-size: 14px;
					font-weight: 700;
					line-height: 49px;
				}
			}
		}
	}

	.box_navigation .list_navigation {
		display: flex;
		width: 100%;
		justify-content: center;
		@media (max-width: 1024px) {
			display: none;
		}
	}
	.box_navigation .list_navigation .list-item {
		display: list-item;
		@media (max-width: 1024px) {
			display: list-item;
			display: block;
			background-color: #ffffff;
			border-bottom:1px solid #eeeeee;
			&.active {
				display: block;
				.link::after {
					display: none;
				}
			}
			&:hover {
				.link {
					color: #999;
					&::after {
						display: none;
					}
				}
			}
		}
	}
	.box_navigation .list_navigation .link {
		@media (max-width: 1024px) {
			justify-content: flex-start;
		}
	}
	.box_navigation .list_navigation .link:hover {
		text-decoration: none;
		color: #000
	}
	.box_navigation .list_navigation .list-item.active .link {
		color: #000;
	}
	.box_navigation .list_navigation .list-item.active .link::after,
	.box_navigation .list_navigation .link:hover::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 3px;
		background-color: #A50034
	}
	.arrow_btn {display: none;}
	@media (max-width: 1024px) {
		.box_navigation .arrow_btn {
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			width: 50px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			background-color: #ffffff;
			border: 0;
			z-index: 10;
			.arrow_ico {
				@include mixins.iconAngle($direction: 'down', $width: 19px, $height: 10px, $thick: 1px, $color: #222, $display: inline-block, $position: relative); 
				justify-content: center;
			}
			&.show {
				.arrow_ico {
					@include mixins.iconAngle($direction: 'up', $width: 19px, $height: 10px, $thick: 1px, $color: #222, $display: inline-block, $position: relative); 
					justify-content: center;
				}
			}
		}
	}
}