@charset 'UTF-8';
@use 'mixins';
@use 'sprite/sprite';

.popup {

	.coupon {
		&__coupon {
			flex-direction: column;

			.coupon__title {
				line-height: 1;
				letter-spacing: -1.26px;

				span {
					position: relative;
					top: 4px;
					margin-left: 0;
					font-weight: 600;
					font-size: 28px;
					line-height: 18px;
					vertical-align: super;
				}
			}
			.coupon__unit {
				margin-left: 0;
				margin-top: 0;
				margin-bottom: -2px;
				font-size: 18px;
			}
		}
	}
}

.lgmembersweek {
	.visual .section {
		.section__title {
			margin: 0 auto;
			@media (max-width: 1300px) {
				font-size: 65px;
			}
			@media (max-width: 1200px) {
				// width: 75%;
				font-size: 55px;
			}
			@media (max-width: 1024px) {
				// width: 100%;
				font-size: 29px;
			}
		}
		.section__desc:not(:first-of-type) {
			line-height: 1.2;
		}
	}
	&.phase2 {
		.visual .section {
			.section__title {
				width: 100%;
				margin: 0 auto;
				@media (max-width: 1500px) {
					width: 100%;
				}
				@media (max-width: 1300px) {
					width: 100%;
				}
				@media (max-width: 1200px) {
					width: 100%;
				}
			}
		}
	}
	// section
	.section {
		&__container {
			&--lifestyle {

				.tab {
					&__panel {
						&--home {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/vn/bg_product_showroom_home0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 16.3%;
												top: 58.52%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(2) {
												left: 56.11%;
												top: 17.04%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(3) {
												left: 72.22%;
												top: 36.3%;
												.product__target {
													left: auto;
													right: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(4) {
												left: 83.33%;
												top: 71.48%;
												.product__target {
													left: auto;
													right: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
										}
									}
								}
							}
						}
						&--gathering {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/vn/bg_product_showroom_gathering0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 24.44%;
												top: 45.56%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(2) {
												left: 73.15%;
												top: 14.07%;
												.product__target {
													top: 38px;
												}
											}
										}
									}
								}
							}
						}
						&--gameday {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/vn/bg_product_showroom_gameday0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 37.04%;
												top: 23.33%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(2) {
												left: 32.41%;
												top: 54.81%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
										}
									}
								}
							}
						}
						&--pastime {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/vn/bg_product_showroom_pastime0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 40.37%;
												top: 12.41%;
												.product__target {
													left: auto;
													right: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(2) {
												left: 56.48%;
												top: 38.15%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
										}
									}
								}
							}
						}
						&--memories {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/vn/bg_product_showroom_memories0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 25%;
												top: 27.04%;
												.product__target {
													top: 38px;
												}
											}
											&:nth-child(2) {
												left: 61.11%;
												top: 54.81%;
												.product__target {
													bottom: 38px;
												}
											}											
										}
									}
								}
							}
						}
					}
				}
				.lottie {
					right: 2.67vw;
					top: 19.85vw;
				}
			}
			&--hotdeal {
				background-color: #364322;

				.section__desc {
					margin-top: 10px;
				}
			}
		}

		@media (max-width: 1024px) {
			&__container {
				&--lifestyle {

					.tab {
						&__panel {
							&--home {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/vn/m_bg_product_showroom_home0#{$i}.png');
											}
										}
									}
								}
							}
							&--gathering {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/vn/m_bg_product_showroom_gathering0#{$i}.png');
											}
										}
									}
								}
							}
							&--gameday {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/vn/m_bg_product_showroom_gameday0#{$i}.png');
											}
										}
									}
								}
							}
							&--pastime {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/vn/m_bg_product_showroom_pastime0#{$i}.png');
											}
										}
									}
								}
							}
							&--memories {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/vn/m_bg_product_showroom_memories0#{$i}.png');
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.visual {
		
		.section {
			background: {
				image: url('../images/vn/bg_visual.png');
			};
		}
		
		@media (max-width: 1024px)  {
			.section {
				background-image: url('../images/vn/m_bg_visual.png');
			}
		}
	}

	// benefit
	.benefit {

		.coupon {
			&__coupon {
				flex-direction: column;

				.coupon__title {
					font-size: 100px;
					line-height: 1;

					span {
						position: relative;
						top: 14px;
						font-weight: 600;
						font-size: 60px;
						line-height: 46px;
						vertical-align: super;
					}
				}
				.coupon__unit {
					margin-left: 0;
					margin-top: 0;
					margin-bottom: -8px;
					font-size: 24px;
				}
			}
		}
		.coupon__info .coupon__text--secondary {
			font-size: 15px;
		}
	}
	.benefit__more {
		.benefit__button {
			p, a {
				&:nth-child(2) {
					i {
						background: {
							image: url('../images/vn/icon_free.png');
							size: 50px 50px;
							repeat: no-repeat;
							position: center center;
						}
					}
				}
				&:nth-child(3) {
					i {
						background-position: -400px -232px;
					}
				}
			}
		}
	}
	// event
	.event {
		&__container {

			.event__round {
				padding-bottom: 20px;

				.event__sub {
					font-size: 22px;
					line-height: 24px;
					&:not(:first-child) {
						margin-top: 16px;
					}
					&:not(:last-child) {
						margin-bottom: 4px;
					}
				}
				.event__desc {
					font-size: 18px;
					line-height: 20px;
					&--tertiary {
						max-width: 234px;
						font-size: 14px;
						line-height: 18px;
						opacity: 0.5;
						&:not(:first-child) {
							margin-top: 16px;
						}
					}
				}
				.event__gift {
					margin-top: 8px;
					text-align: right;

					img {
						max-width: 260px;
					}
				}
				.event__process {

					li {
						
						p {
							
							em {
								display: block;
								margin-top: 2px;
								font-size: 18px;
							}
						}
					}
				}
				.event__info {
					margin-top: 20px;
				}
				.event__row {
					display: flex;
					margin: 0 -40px;
					&:first-child {
						margin-top: -40px;

						.event__col {
							padding-bottom: 20px;
							border-top: 0;
							&:last-child {
								display: flex;
								flex-direction: column;
								.event__coupon {
									margin-top: auto;
								}
							}
						}
					}
					
					.event__col {
						flex: 1;
						padding: 40px 30px 0 40px;
						border-top: 1px solid #C09D5F;
						&:not(:first-child) {
							border-left: 1px solid #C09D5F;
						}

						.event__desc {
							max-width: none;
						}
					}
				}
				.event__coupon {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					margin-top: 36px;
					text-align: right;

					.event__desc {
						margin-top: 8px;
					}
				}
				.event__ticket {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 120px;
					height: 66px;
					color: #000;
					font-weight: 700;
					font-size: 50px;
					letter-spacing: -3px;
					background: {
						image: url('../images/bg_event_coupon.png');
						repeat: no-repeat;
						position: 0 0;
						size: 100% 100%;
					};

					span {
						margin-left: 2px;
						font-size: 30px;
						letter-spacing: 0;
					}
				}
			}
		}

		@media (max-width: 1024px) {
			&__container {
				display: block;

				.event__round {

					.event__sub {
						font-size: 20px;
						line-height: 22px;
					}
					.event__desc {
						font-size: 16px;
						line-height: 18px;
						&--tertiary {
							font-size: 12px;
							line-height: 16px;
							&:not(:first-child) {
								margin-top: 10px;
							}
						}
					}
					.event__gift {
						margin-top: -20px;

						img {
							max-width: 241px;
						}
					}
					.event__row {
						display: block;
						margin-left: -20px;
						margin-right: -20px;
						padding: 0 20px;
						&:first-child {

							.event__col {
								&:first-child {
									margin-left: -20px;
									margin-right: -20px;
									padding-left: 20px;
									padding-right: 20px;
									border-bottom: 1px solid #C09D5F;
								}
							}
						}
						&:not(:first-child) {

							.event__col {
								&:last-child {
									padding-bottom: 0;
								}
							}
						}

						.event__col {
							position: relative;
							padding: 30px 0 20px;
							border-top: 1px dashed #C09D5F;
							&:not(:first-child) {
								border-left: 0;
							}

							.event__desc {
								&--tertiary {
									width: calc(100% - 102px);
								}
							}
						}
					}
					.event__coupon {
						margin-top: 0;
						
						.event__desc {
							margin-top: 4px;
							font-size: 14px;
							line-height: 1;
						}
					}
					.event__ticket {
						width: 92px;
						height: 50px;
						font-size: 36px;
						letter-spacing: -2.16px;

						span {
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	// product
	.product{
		&--hotdeal {

			.product__img {

				.product__more {
					position: absolute;
					top: 20px;
					left: 50%;
					font-size: 18px;
					@include mixins.translate(-50%, 0);
				}
				.product__comming {
					left: 67px;
				}
				
				.hotdeal_bg {
					background-image: url('../images/vn/hotdeal_closed.png');
					&.hotdeal_soldout {
						background-image: url('../images/vn/hotdeal_closed.png');
					}
				}
			}
			.slick-slide {
				&:nth-child(1) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal50_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal30_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(2) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal20_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(3) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal50_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(4) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal30_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(5) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal10_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(6) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal10_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(7) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal20_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(8) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal20_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				&:nth-child(9) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								// background-image: url('../images/vn/hotdeal10_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_closed.png');
								}
							}
						}
					}
				}
				@media (max-width: 1024px) {
					// &:nth-child(1) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal50_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(2) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal30_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(3) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal30_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(4) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal20_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(5) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal30_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(6) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal50_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(7) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal30_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(8) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal30_on.png');
					// 			}
					// 		}
					// 	}
					// }
					// &:nth-child(9) {
					// 	> div:nth-child(1) {
					// 		.product__item {
					// 			.hotdeal_bg {
					// 				background-image: url('../images/vn/hotdeal30_on.png');
					// 			}
					// 		}
					// 	}
					// }
					&:nth-child(10) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(11) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(12) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(13) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(14) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(15) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(16) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(17) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
					&:nth-child(18) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									// background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_closed.png');
									}
								}
							}
						}
					}
				}
			}
		}
		>.button {
			.button__item {
				max-width: 330px;
			}
		}

		@media (max-width: 1024px) {
			&--hotdeal {
				
				.product__img {
	
					.product__comming {
						left: 51px;
					}
				}
			}
		}
	}
}

.phase2 {

	// sticky
	.box_navigation {
		height: 80px;
	}
	.box_navigation .box_nav-position {
		height: 80px;
		@media (max-width: 1024px) {
			height: 60px;
		}
	}
	.box_navigation .list_navigation .link {
		height: 80px;
		line-height: 20px;
		text-transform: uppercase;
		@media (max-width: 1024px) {
			height: 60px;
			padding: 0 20px;
			font-size: 14px;
			line-height: 20px;
			text-align: left;
		}
	}

	.box_navigation {
		.select_list-item {
			@media (max-width: 1024px) {
				height: 60px;
				padding: 0 20px;
				span {
					display: flex;
					align-items: center;
					height: 60px;
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
	}

	@media (max-width: 1024px) {
		.box_navigation .arrow_btn {
			top: 6px;
		}
	}

	.product{
		&--hotdeal {
			.product__img {
				.hotdeal_bg {
					&.hotdeal_soldout {
						background-image: url('../images/vn/hotdeal_soldout.png');
					}
				}
			}

			.slick-slide {
				&:nth-child(1) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal20_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(2) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal20_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(3) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal50_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(4) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal30_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(5) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal30_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(6) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal50_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal30_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(7) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal30_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(8) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal10_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				&:nth-child(9) {
					> div {
						&:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
						&:nth-child(2) {
							.hotdeal_bg {
								background-image: url('../images/vn/hotdeal10_on.png');
								&.hotdeal_soldout {
									background-image: url('../images/vn/hotdeal_soldout.png');
								}
							}
						}
					}
				}
				@media (max-width: 1024px) {
					&:nth-child(1) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(2) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(3) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(4) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(5) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(6) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal50_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(7) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(8) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
								}
							}
						}
					}
					&:nth-child(9) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(10) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(11) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal50_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(12) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(13) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(14) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal30_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(15) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal20_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(16) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(17) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
					&:nth-child(18) {
						> div:nth-child(1) {
							.product__item {
								.hotdeal_bg {
									background-image: url('../images/vn/hotdeal10_on.png');
									&.hotdeal_soldout {
										background-image: url('../images/vn/hotdeal_soldout.png');
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.lgmembersweek-terms {
	* {
		color: #333333;
		font-size: 20px;
		word-break: break-all;

		@media (max-width: 1024px) {
			font-size: 16px;
  		line-height: 24px;
		}
	}
	
	&__wrap {
		position: relative;
  	padding: 5.21vw 0 6.25vw;
		max-width: 1344px;
  	margin: 0 auto;
		padding-top: 90px;
		text-align: left;

		@media (max-width: 1024px) {
			padding: 60px 6.25vw;
		}
	}

	h3 {
		margin-left: -30px;
		margin-bottom: 120px;
		color: #000000;
		font-size: 60px;
		line-height: 60px;
		font-weight: 600;

		@media (max-width: 1024px) {
			margin-bottom: 60px;
			margin-left: -15px;
			font-size: 36px;
  		line-height: 44px;
		}

		@media (max-width: 767px) {
			font-size: 24px;
  		line-height: 30px;
			letter-spacing: -1px;
		}
	}

	.sub-title {
		font-weight: bold;
	}

	.list {
		margin-top: 10px;

		li {
			position: relative;
			margin: 25px 0;
			padding-left: 25px;
			line-height: 1.8;

			@media (max-width: 1024px) {
				margin: 10px 0;
			}
		}

		span {
			position: absolute;
			top: 20px;
			left: 0;
			width: 5px;
			height: 2px;
			background-color: #000;
			content: '';
		}
	}

	.info {
		display: block;
		margin: 25px 0;

		dt,dd {
			display: inline-block;
		}
		
	}

	table {
		width: 100%;
		border: 1px solid #000;

		th {
			padding: 15px;
			background-color: #ffffff;
			text-align: center;
		}
		th + th {
			border-left: 1px solid #000
		}

		td {
			padding: 15px;
			border-top: 1px solid #000000;
			border-left: 1px solid #000000;
		}

		td:last-child {
			text-align: center;
		}
	}

	span.dot {
		position: absolute;
		top: 16px;
		left: 10px !important;
		width: 5px; 
		height: 5px;
		border-radius: 50%;
		background-color: #000;
	}

	.list2 {
		margin-top: 10px;

		li {
			position: relative;
			margin: 25px 0;
			padding-left: 25px;
			line-height: 1.8;

			@media (max-width: 1024px) {
				margin: 10px 0;
			}
		}

		span {
			position: absolute;
			left: 0;
		}
	}

	table + .sub-title {
		margin-top: 60px;
	}

	.list2 + .sub-title  {
		margin-top: 60px;
	}
}