@charset 'UTF-8';
@use 'mixins';
@use 'sprite/sprite';

.lgmembersweek {

	// section
	.section {
		&__container {
			&--benefit {
				background: {
					image: url('../images/de/bg_benefit.png');
				};
			}
			&--lifestyle {

				.tab {
					&__panel {
						&--home {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/de/bg_product_showroom_home0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 13.15%;
												top: 39.81%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(2) {
												left: 57.04%;
												top: 41.59%;
												.product__target {
													bottom: 38px;
												}
											}
											&:nth-child(3) {
												left: 72.56%;
												top: 41.59%;
												.product__target {
													bottom: 38px;
												}
											}
											&:nth-child(4) {
												left: 81.48%;
												top: 59.48%;
												.product__target {
													left: auto;
													right: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
										}
									}
								}
							}
						}
						&--gathering {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/de/bg_product_showroom_gathering0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 24.44%;
												top: 15.74%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(2) {
												left: 72.78%;
												top: 67.59%;
												.product__target {
													left: auto;
													right: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
										}
									}
								}
							}
						}
						&--gameday {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/de/bg_product_showroom_gameday0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 36.11%;
												top: 21.11%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											&:nth-child(2) {
												left: 32.5%;
												top: 56.48%;
												.product__target {
													left: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
										}
									}
								}
							}
						}
						&--pastime {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/de/bg_product_showroom_pastime0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 40.37%;
												top: 12.41%;
												.product__target {
													left: auto;
													right: 38px;
													top: 50%;
													margin-left: 0;
													@include mixins.translate(0, -50%);
												}
											}
											// &:nth-child(2) {
											// 	left: 60%;
											// 	top: 61.30%;
											// 	.product__target {
											// 		left: auto;
											// 		right: 38px;
											// 		top: -49px;
											// 		margin-left: 0;
											// 	}
											// }
										}
									}
								}
							}
						}
						&--memories {

							.product__showroom {

								.product__slide {
									@for $i from 1 through 1 {
										&:nth-child(#{ $i }) {
											background-image: url('../images/de/bg_product_showroom_memories0#{$i}.png');
										}
									}
									&:nth-child(1) {
										.product__layer {
											&:nth-child(1) {
												left: 23.98%;
												top: 30.74%;
												.product__target {
													top: 38px;
												}
											}
											&:nth-child(2) {
												left: 60.19%;
												top: 64.07%;
												.product__target {
													left: auto;
													right: 38px;
													top: 50%;
													margin-left: 0;
													transform: translate(0, -50%);
												}
											}
											&:nth-child(3) {
												left: 79.54%;
												top: 88.52%;
												.product__target {
													bottom: 38px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&--hotdeal {
				margin-top: -1px;
			}
			&--event {
				.lottie {
					top: 10.0vw;
				}
			}
		}
		&__desc {
			margin-top: 15px;
		}

		.section__container--hottest {
			.section__title{
				& + .section__sub {
					span {
						display: block;
						font-size: 18px;
						font-weight: 400;
						&:first-child {
							margin-bottom: 5px;
						}
					}
					em {
						color:#A50034;
					}
					@media (max-width: 1024px) {
						span {
							font-size: 14px;
						}
					}
				}
			}
		}

		@media (max-width: 1024px) {
			&__container {
				&--benefit {
					background: {
						image: url('../images/m_bg_benefit.png');
					}
				}
				&--lifestyle {

					.tab {
						&__list {
							top: calc(12.82vw + 310px);
						}
						&__panel {
							&--home {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/de/m_bg_product_showroom_home0#{$i}.png');
											}
										}
									}
								}
							}
							&--gathering {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/de/m_bg_product_showroom_gathering0#{$i}.png');
											}
										}
									}
								}
							}
							&--gameday {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/de/m_bg_product_showroom_gameday0#{$i}.png');
											}
										}
									}
								}
							}
							&--pastime {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/de/m_bg_product_showroom_pastime0#{$i}.png');
											}
										}
									}
								}
							}
							&--memories {
	
								.product__showroom {
	
									.product__slide {
										@for $i from 1 through 1 {
											&:nth-child(#{ $i }) {
												background-image: url('../images/de/m_bg_product_showroom_memories0#{$i}.png');
											}
										}
									}
								}
							}
						}
					}
				}
				&--hottest {

					.section__sub {
						&:not(:first-child) {
							font-size: 20px;
							line-height: 22px;
						}
					}
				}
			}
		}
	}

	.visual {
		
		.section {
			// height: 80vh;
			// height: 51vw;
			background: {
				image: url('../images/de/bg_visual.png');
			};
		}
		
		@media (max-width: 1024px)  {

			.section {
				background-image: url('../images/de/m_bg_visual.png');
			}
		}
	}

	// benefit
	.benefit {
		&__more {
			.benefit__button {

				a {
					width: 480px;
					&:nth-child(3) {

						i {
							@include sprite.retina-sprite(sprite.$ico-benefit06-group);
						}
					}
				}
			}
		}

		.coupon {
			&__coupon {
				flex-direction: column;

				.coupon__title {
					letter-spacing: 0;

					span {
						letter-spacing: -8.8px;
					}
				}
				.coupon__unit {
					margin-left: 0;
					margin-top: -40px;
					font-size: 30px;
					line-height: 40px;
				}
			}
		}

		@media (max-width: 1024px) {
			&__more {
				.benefit__button {
	
					a {
						width: 100%;
					}
				}
			}

			.coupon {
				&__coupon {
	
					.coupon__title {
						font-size: 80px;
						line-height: 109px;
						letter-spacing: -6.4px;
	
						span {
							letter-spacing: -6.4px;
						}
					}
					.coupon__unit {
						margin-left: 0;
						margin-top: -25px;
						font-size: 22px;
						line-height: 25px;
					}
				}
			}
		}
	}

	// event
	.event {
		&__container {

			.event__round {
				padding-bottom: 20px;

				.event__sub {
					font-weight: 600;
					font-size: 22px;
					line-height: 24px;
					&:not(:first-child) {
						margin-top: 16px;
					}
					&:not(:last-child) {
						margin-bottom: 4px;
					}
				}
				.event__desc {
					font-size: 18px;
					line-height: 20px;
				}
				.event__gift {
					margin-top: -80px;
					text-align: right;

					img {
						max-width: 400px;
					}
				}
				.event__info {
					margin-top: 20px;
				}
				.event__row {
					display: flex;
					margin: 20px -40px 0;
					
					.event__col {
						flex: 1;
						padding: 40px 30px 0 40px;
						border-top: 1px solid #C09D5F;
					}
				}
				.event__coupon {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					margin-top: 110px;
					text-align: right;

					.event__desc {
						margin-top: 8px;
					}
				}
				.event__ticket {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 120px;
					height: 66px;
					color: #000;
					font-weight: 700;
					font-size: 50px;
					letter-spacing: -3px;
					background: {
						image: url('../images/bg_event_coupon.png');
						repeat: no-repeat;
						position: 0 0;
						size: 100% 100%;
					};

					span {
						margin-left: 2px;
						font-size: 30px;
						letter-spacing: 0;
					}
				}
			}
		}
		&__bottom {

			.event__right {

				a {
					width: 320px;
				}
			}
		}

		@media (max-width: 1024px) {
			&__container {
				display: block;

				.event__round {

					.event__desc {
						font-size: 16px;
						line-height: 18px;
					}
					.event__gift {
						margin-top: -21px;

						img {
							max-width: 241px;
						}
					}
					.event__row {
						display: block;
						margin-left: -20px;
						margin-right: -20px;
						padding: 0 20px;
						border-top: 1px solid #C09D5F;

						.event__col {
							padding: 30px 0 20px;
							border-top: 0;
							&:not(:first-child) {
								border-left: 0;
								border-top: 1px dashed #C09D5F;
							}
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
					.event__coupon {
						margin-top: -12px;
						
						.event__desc {
							margin-top: 4px;
							font-size: 14px;
							line-height: 1;
						}
					}
					.event__ticket {
						width: 92px;
						height: 50px;
						font-size: 36px;
						letter-spacing: -2.16px;

						span {
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	// product
	.product{
		&--hotdeal {

			.product__img {
				.hotdeal_bg {
					background-image: url('../images/de/hotdeal_on.png');
				}
			}

			.product__item {
				&:nth-child(1) {
					.hotdeal_bg {
						background-image: url('../images/de/hotdeal100_on.png');
						&.hotdeal_soldout {
							background-image: url('../images/de/hotdeal_close.png');
						}
					}
				}
				&:nth-child(2),
				&:nth-child(3) {
					.hotdeal_bg {
						background-image: url('../images/de/hotdeal200_on.png');
						&.hotdeal_soldout {
							background-image: url('../images/de/hotdeal_close.png');
						}
					}
				}
				&:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11) {
					.hotdeal_bg {
						background-image: url('../images/de/hotdeal30_on.png');
						&.hotdeal_soldout {
							background-image: url('../images/de/hotdeal_close.png');
						}
					}
				}
				&:nth-child(12) {
					.hotdeal_bg {
						background-image: url('../images/de/hotdeal20_on.png');
						&.hotdeal_soldout {
							background-image: url('../images/de/hotdeal_close.png');
						}
					}
				}
				&:nth-child(13) {
					.hotdeal_bg {
						background-image: url('../images/de/hotdeal40_on.png');
						&.hotdeal_soldout {
							background-image: url('../images/de/hotdeal_close.png');
						}
					}
				}
			}
		}
	}

	// sticky
	.box_navigation {
		height: 80px;
	}
	.box_navigation .box_nav-position {
		height: 80px;
		@media (max-width: 1024px) {
			height: 60px;
		}
	}
	.box_navigation .list_navigation .link {
		height: 80px;
		line-height: 20px;
		text-transform: uppercase;
		@media (max-width: 1024px) {
			height: 60px;
			padding: 0 20px;
			font-size: 14px;
			line-height: 20px;
			text-align: left;
		}
	}

	.box_navigation {
		.select_list-item {
			@media (max-width: 1024px) {
				height: 60px;
				padding: 0 20px;
				span {
					display: flex;
					align-items: center;
					height: 60px;
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
	}

	@media (max-width: 1024px) {
		.box_navigation .arrow_btn {
			top: 6px;
		}
	}
}